.iconContainZone {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #eeeff0;
}

.iconInfoOuterContainer {

}

.iconGridOuterContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    transition: transform .3s;
}
.iconGridOuterWrapper {
    width: 100%;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
}