* {
    user-select: none;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(0,0,0,0);
    overflow: hidden;
}
#root {
    overflow: hidden;
    background: hsl(var(--surface));
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
#root>div {
    width: 100%;
    height: 100%;
}
