.enhanceInputContainer {

}

.inputTitle {
    margin-bottom: 6px;
}

.inputGroup {
    position: relative;
}

.inputSave {
    position: absolute !important;
    color: #108ee9 !important;
    top: 0;
    right: 0;
    z-index: 10;
    border: none !important;
    background-color: rgba(0, 0, 0, 0) !important;
}
.inputSave:hover {
    background-color: rgba(0, 0, 0, 0) !important;
}
.inputSave:active {
    background-color: rgba(0, 0, 0, 0) !important;
}
.inputSave i {
    margin-right: auto !important;
}

.inputHint {
    overflow: hidden;
    line-height: 26px;
    color: #f04134;
    height: 0;
    transition: height .3s;
}